src/main/app/create-user.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="api.icraftsoft.net" port="6060" connectionIdleTimeout="60000" responseTimeout="60000" doc:name="HTTP Request Configuration"/>
    <flow name="create-userFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/users" doc:name="HTTP"/>
        <logger message="Request received to create user #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.candidates]]></dw:set-payload>
        </dw:transform-message>
        <async doc:name="Async">
            <foreach doc:name="For Each">
                <set-variable variableName="user" value="#[payload.first]" doc:name="Variable"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:input-payload doc:sample="sample_data/json_1.json"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"first": payload.first,
     "last": payload.last,
     "department": payload.department
}]]></dw:set-payload>
                </dw:transform-message>
                <logger message="User request to api : #[payload]" level="INFO" doc:name="Logger"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/users" method="POST" doc:name="HTTP">
                    <http:success-status-code-validator values="200..599"/>
                </http:request>
                <choice doc:name="Choice">
                    <when expression="#[message.inboundProperties.'http.status' == 201]">
                        <logger level="INFO" doc:name="Log Success" message="Successfully created user : #[flowVars.user]"/>
                    </when>
                    <otherwise>
                        <logger level="INFO" doc:name="Log Error" message="Error creating user #[flowVars.user], Error : #[payload]"/>
                        
                    </otherwise>
                </choice>
            </foreach>
        </async>
    </flow>
</mule>
